In [2]:
data = read_excel('WHO POP TB same.xls')
data

NameError: name 'read_excel' is not defined

In [3]:
data = read_excel('WHO POP TB some.xls')

data

NameError: name 'read_excel' is not defined

In [4]:
from pandas import *

In [5]:
data = read_excel('WHO POP TB some.xls')

data

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [10]:
data['TB deaths']
tbColumn = data['TB deaths']
sum(tbColumn)

354715

In [7]:
data['Country']

0                    Angola
1                    Brazil
2                     China
3         Equatorial Guinea
4             Guinea-Bissau
5                     India
6                Mozambique
7                  Portugal
8        Russian Federation
9     Sao Tome and Principe
10             South Africa
11              Timor-Leste
Name: Country, dtype: object

In [11]:
tbColumn.min()

18

In [12]:
tbColumn.max()

240000

In [13]:
tbColumn.sum()

354715

In [14]:
tbColumn.mean()

29559.583333333332

In [15]:
tbColumn.median()

5650.0

In [16]:
tbColumn.sort_value()

AttributeError: 'Series' object has no attribute 'sort_value'

In [18]:
data.sort_values('TB deaths')

                  Country  Population (1000s)  TB deaths
9   Sao Tome and Principe                 193         18
3       Equatorial Guinea                 757         67
7                Portugal               10608        140
11            Timor-Leste                1133        990
4           Guinea-Bissau                1704       1200
1                  Brazil              200362       4400
0                  Angola               21472       6900
8      Russian Federation              142834      17000
6              Mozambique               25834      18000
10           South Africa               52776      25000
2                   China             1393337      41000
5                   India             1252140     240000

In [19]:
data

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [21]:
data.sort_values('Country')

                  Country  Population (1000s)  TB deaths
0                  Angola               21472       6900
1                  Brazil              200362       4400
2                   China             1393337      41000
3       Equatorial Guinea                 757         67
4           Guinea-Bissau                1704       1200
5                   India             1252140     240000
6              Mozambique               25834      18000
7                Portugal               10608        140
8      Russian Federation              142834      17000
9   Sao Tome and Principe                 193         18
10           South Africa               52776      25000
11            Timor-Leste                1133        990

In [27]:
(data['TB deaths'] *100) / data['Population (1000s)']

0     32.134873
1      2.196025
2      2.942576
3      8.850727
4     70.422535
5     19.167186
6     69.675621
7      1.319759
8     11.901928
9      9.326425
10    47.370017
11    87.378641
dtype: float64

In [28]:
deathsColumn = data['TB deaths']
populationColumn = data['Population (1000s)']
rateColumn = deathsColumn *100 / populationColumn
rateColumn

0     32.134873
1      2.196025
2      2.942576
3      8.850727
4     70.422535
5     19.167186
6     69.675621
7      1.319759
8     11.901928
9      9.326425
10    47.370017
11    87.378641
dtype: float64

In [31]:
data['TB Deaths (per 100,000)'] = rateColumn
data

,Country,Population (1000s),TB deaths,"TB deaths (per 100,000)","TB Deaths (per 100,000)"
0,Angola,21472,6900,32.134873,32.134873
1,Brazil,200362,4400,2.196025,2.196025
2,China,1393337,41000,2.942576,2.942576
3,Equatorial Guinea,757,67,8.850727,8.850727
4,Guinea-Bissau,1704,1200,70.422535,70.422535
5,India,1252140,240000,19.167186,19.167186
6,Mozambique,25834,18000,69.675621,69.675621
7,Portugal,10608,140,1.319759,1.319759
8,Russian Federation,142834,17000,11.901928,11.901928
9,Sao Tome and Principe,193,18,9.326425,9.326425
10,South Africa,52776,25000,47.370017,47.370017
11,Timor-Leste,1133,990,87.378641,87.378641